@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --main-color: #ffcb74;
  --third-color: #2f2f2f;
}
/* --main-color: #339b67; */

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  margin: auto;
  animation: movedown 1s ease-in-out forwards;
  opacity: 0;
}

.navbtn {
  align-self: center;
  cursor: pointer;
  display: none;
}

.navmenu {
  margin-left: 35px;
  height: 0;
  overflow: hidden;
  margin: auto;
  transition: all 1s;
}

.clicked {
  height: 130px;
}

nav ul li {
  list-style-type: none;
  font-size: 1.6rem;
}

nav ul li a {
  background-color: none;
  text-decoration: none;
  color: black;
}

.navmenu {
  display: flex;
  height: auto;
}
.navheader {
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding: 1rem 5rem;
}
nav ul li {
  padding: 10px;
}

@media (max-width: 900px) {
  .flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  .logo {
    margin: 15px 10px;
  }
}

.textbox {
  width: 100%;
  height: auto;
}


.textbox {
  margin-left: 3rem;
  margin-top: 5rem;
}

.textcontent h1 {
  text-wrap: wrap;
}

.textcontent button {
  font-size: 1.4rem;
  background-color: #222;
  padding: 1rem;
  color: white;
  border-radius: 1.4rem;
  cursor: pointer;
}

.textcontent span {
  font-size: 3rem;
  margin-left: 1rem;
  color: var(--main-color);
}

.textcontent p {
  align-items: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.textcontent h1 {
  font-size: 6rem;
  margin-bottom: 0.4rem;
}

@media (max-width: 430px) {
  .flexHero {
    position: static;
    margin-top: 0.35rem;
    width: 100%;
    height: auto;
  }
}
