@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,200;1,300&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --main-color: #339b67; */

.gredient {
  background-image: url(./assets/hero.png);
  background-position: center;
  background-size: cover;
  margin-top: 0;
}


/* sma nft cpm sms ABDF75, FED766*/

body {
  width: 100%;
  height: auto;
  margin: auto;
  --main-color: #38d1a8;
  --third-color: #1b204b;
}


.all{
  width: 80%;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

.navbtn {
  align-self: center;
  cursor: pointer;
  display: none;
}

.navmenu {
  margin-left: 35px;
  height: 0;
  overflow: hidden;
  margin: auto;
  transition: all 1s;
}

.clicked {
  height: 130px;
}

nav ul li {
  list-style-type: none;
  font-size: 1.6rem;
}

nav ul li a {
  background-color: none;
  text-decoration: none;
  color: black;
}


nav ul li {
  padding: 10px;
}

@media (max-width: 900px) {
  .flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  .logo {
    margin: 15px 10px;
  }
}

.textbox {
  width: 100%;
  height: 95vh;
  margin-left: 3rem;
  margin-top: 5rem;
}

.textcontent h1 {
  text-wrap: wrap;
}

.Btn {
  font-size: 1.4rem;
  background-color: #222;
  padding: 0.45rem 1rem;
  color: white;
  border-radius: 1.4rem;
  cursor: pointer;
}

.textcontent span {
  font-size: 3rem;
  margin-left: 1rem;
  color: var(--main-color);
}

.textcontent p {
  align-items: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.textcontent h1 {
  font-size: 6rem;

  margin-bottom: 0.4rem;
}

@media (max-width: 430px) and (max-width: 932px) {
  .textcontent {
    position: static;
    margin-top: 0.35rem;
    width: 200%;
    height: auto;
  }
  .textbox h1 {
    font-size: 3rem;
  }
}

/* services */

.servicesHaye {
  width: 95%;
  margin: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5rem;
  color: var(--main-color);
}

.servicesHaye h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2.2rem;
  color: var(--main-color);
}

.service {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.4rem;
}

.serviceCol {
  color: black;
  padding: 1.8rem;
  border-radius: 1rem;
}

.serviceCol:hover {
  transition: 0.6s;
  background-color: #efefefef;
  box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.1);
}

.serviceCol p {
  line-height: 1.2;
  font-weight: 500;
}

.serviceCol h3 {
  color: var(--main-color);
}

.serviceCol img {
  width: 60%;
}

@media (max-width: 900px) {
  .service {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.4rem;
  }
}

@media (max-width: 430px) and (max-width: 932px) {
  .servicesHaye {
    width: 190%;
    height: auto;
    display: grid;
    color: var(--main-color);
  }
  .service {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }
  .serviceCol img {
    width: 100%;
    height: auto;
  }
  .serviceCol p {
    font-size: 2rem;
  }
  .serviceCol h3 {
    font-size: 2rem;
  }
  .gredient {
    background-size: cover;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }
}

/* why me */

.whyme {
  width: 95%;
  margin: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.whyme h1 {
  text-align: center;
  font-size: 3.5rem;
  color: var(--main-color);
}

.whyme span {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.mecol h3 {
  font-size: 4rem;
  margin-bottom: 1.1rem;
}

.mmecol p {
  font-size: 1.2rem;
  line-height: 1.3;
}

.mecol h4{
  font-size: 1.4rem;
}

.mecol .icons{
  font-size: 2.2rem;
  margin: 0 0.5rem;
}

.mecol img {
  width: 80%;
  height: auto;
  border-radius: 1.1rem;
}

@media (max-width: 900px) {
  .me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .mecol h3 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }
}

@media (max-width: 450px) and (max-width: 932px) {
  .whyme {
    width: 190%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .mecol {
    margin-left: 2rem;
  }
  .mecol h3 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }
  .mecol p {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
  }
  .mecol img {
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 1.4rem;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: auto;
  }
  .mecol h3 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }
}

/* contact */

.contacthaye {
  width: 95%;
  margin: auto;
}

.contacthaye h1 {
  font-size: 4rem;
  text-align: center;
}

.contacts {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  padding: 1.4rem;
  gap: 2rem;
  border-radius: 1rem;
}

.iconhaye {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding: 0.8rem;
  flex-direction: column;
  border-radius: 1rem;
  text-align: center;
  gap: 3rem;
}

.conIcons {
  font-size: 3rem;
}

.color p {
  text-align: center;
}

.contactcol {
  margin-top: 0;
}

.contactcol input {
  display: block;
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #efefef;
  border-radius: 12px;
}

.contactcol ::placeholder {
  font-size: 1rem;
}

textarea {
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .contacthaye h1 {
    font-size: 3rem;
  }
  .contacts {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  
    padding: 1.4rem;
    gap: 2rem;
    border-radius: 1rem;
  }
}

@media (min-width: 430px) and (max-width: 932px) {
  .contacts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
  }
}

/* testimonial */

.testiTitle {
  color: var(--main-color);
  text-align: center;
  font-size: 3rem;
}

.que{
  width: 10%;
}

.picture {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
}

.picture-container {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
}

.content-container p {
  font-size: 1rem;
}

.picture-container img {
  width: 10%;
  cursor: pointer;
  margin-right: 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  border-radius: 1rem;
}

.picture-container img.selected {
  border: 4px solid var(--main-color);
  z-index: 9999;
  width: 25%;
  height: 55vh;
}

.content-container {
  position: absolute;
  left: 53%;
  margin-top: 20px;
}

.imgscontent h1 {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 1.3rem;
}

.imgscontent span {
  color: var(--secondry-color);
  margin-bottom: 1rem;
}

.aboutfooter {
  margin-bottom: 5rem;
}

@media (max-width: 430px) and (max-width: 932px) {
  .picture-container {
    position: relative;
  }
  .testiTitle {
    font-size: 5rem;
    display: flex;
    text-align: center;
    margin-left: 7rem;
  }
  .picture {
    position: relative;
    margin-bottom: 35rem;
    display: flex;
  
  }
  .imgscontent{
    width: 300%;
    margin-top: 190%;
    color: black;
    z-index: 999999;
  }
  
  .imgscontent h1 {
    white-space: nowrap;
  }
  .imgscontent p {
    font-size: 2.5rem;
  }
  .picture-container img {
    width: 70%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  .picture-container img.selected {
    border-color: blue;
    z-index: 2;
    width: 50%;
    height: 33vh;
  }
  /* kan sadaxad */

  .imgscontent p {
    font-size: 1.3rem;
  }
}

/* footer */

.portfolio-footer {
  position: static;
  background-color: black;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: white;
}

.pro-container {
  width: 90%;
  margin: auto;
}

.footer-p {
  display: grid;
  align-content: center;
  place-items: center;
}

.por-two-foter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.por-two-col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.por-two-col h2 {
  text-transform: capitalize;
  color: white;
}

.por-icons a {
  color: var(--main-color);
  font-size: 1.4rem;
  margin: 0.4rem 0.3rem;
  transition: all 0.6s ease;
}

.por-icons i {
  margin: 4px;
}

.por-col h1 {
  text-transform: capitalize;
}

@media (max-width: 430px) and (max-width: 932px) {
  .portfolio-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
  }
  .pro-container {
    width: 100%;
    margin: auto;
  }
}

.testiTitle  .servicesHaye .whyme{
  text-align: left;
}